article{
  background-color: $yellow-body;
  p{
    font-family: 'Droid Serif', serif;
    color: red;
    letter-spacing: 0.9px;
    padding: 20px 70px;
    font-size: 15px;
    color: $main;

  }
}
.onep{
  color: #4E1C07;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Droid Serif', serif;
}

.homebar{
  @include bar;
}
.upcoming{
  @include date;
  color: #eb503c;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: $Lato;
  margin-top: 15px;
}
.datename{
  @include datename;
}
.datedate{
  @include datedate;
}
.dateloc{
  @include dateloc;
}
.meetlink{
  @include meetlink;
}
@media only screen and(min-width: 760px) {
  .homea{
    width: 1101px;
    height: 385px;
    position: relative;
    bottom: 150px;
    left: 180px;
    right: 200px;
}
}
