footer{
  background: white;
  height: 6.500em;
  padding-top: 25px;
  p{
    text-align: center;
    color: $foot;
    line-height: 28px;
    font-family: $Lato;
    letter-spacing: 0.8px;
  }
}
@media only screen and(min-width: 760px) {
  footer{
    .fp1{
      float: left;
      padding-left: 10px;
    }
    .fp2{
      float: right;
      padding-right: 10px;
    }
  }
}
